.hs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 272px;
    width: 100%;
    background-color: var(--css-black);
}

.hs-content{
    display: flex;
    align-items: center;
    color: var(--css-white);
    font-size: 20px;
}
.hs-content h1{
    text-align: center;
}

.hs-img-frame{
    height: 212px;
    width: 212px;

}

.hs-img{
    width: 100%;
    height: 100%;
}